* {
  margin: 0px;
  padding: 0px;
}

#news_page {
  margin-left: 20%;
  text-align: center;
  margin-right: 20%;
}
#news_page h1 {
  padding-top: 100px;
  width: 700px;
  margin-left: 35px;
  text-align: left;
}
#news_page img {
  width: 700px;
}
#news_page div {
  text-align: left;
  padding: 35px;
}
#news_page p {
  text-align: left;
  font-size: 20px;
  padding: 35px;
}
